/* import url font size and style */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Roboto', sans-serif;
  text-decoration: black;
  font-size:20px !important;
  text-align:left !important;
}

/* .img-fluid{
  height:200px !important;
}  */

.bigimg{
  height:300px !important;
}

.flex-container{
  display: flex !important;
}

.btn{
  background-color: #FFB400 !important;
  color: white !important;
}

select{
  box-shadow: none !important;
  border-color: black;

}
/* 
p{
  text-align: left !important;
} */

.navbar{
  background-color: #FFB400!important;
}

.nav-link{
  color: black !important;
}



