body {
	background-color: #FFF0CC;
	
}

.contact-form {
	position: absolute;
	top: 50%;
	left: 33%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 500px;
    margin-top: 600px;
	padding: 50px 40px;
	background: rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.contact-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.contact-form input {
	width: 100%;
	margin-bottom: 20px;
 }
 .contact-form input {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}



.contact-form textarea {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.contact-form-2{
	position: absolute;
	top: 50%;
	left: 67%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 500px;
    margin-top: 600px;
	padding: 50px 40px;
	background: rgba(0, 0, 0, 0.5);
}

.contact-form-2 h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.contact-form-2 p {
	margin: 0;
	padding: 0;
	color: #000000;
}

/* contact */
.container-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 500px;
	padding: 50px 40px;
	background: rgba(0, 0, 0, 0.5);
}
.container-1 h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.container-1 p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}

.container-1 input {
	width: 100%;
	margin-bottom: 20px;
 }
 .container-1 input {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}


.container-1 textarea {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}


/* navbar */
.nav-link{
	color: black !important;
	font-size: 20px;
  }
  
  .nav-item{
	font-size: 20px;
  }